In [2]:
import pandas as pd
import numpy as np

In [3]:
a = pd.DataFrame({"Job Title" : ["Database Administrator", "Chef"], "Skills" : ["SQL, Python, Attention to Detail", "Cooking, Wine Tasting"]})

In [4]:
a.head()

                Job Title                            Skills
0  Database Administrator  SQL, Python, Attention to Detail
1                    Chef             Cooking, Wine Tasting

In [16]:
titles = [("Gamer", "exercise, dexterity, R"), ("Web Developer", "googling, javascript, typescript, css, html, json, passion"), ("Data Scientist", "statistics, graphing, dataframes, attention to detail")]               

summary = pd.concat([pd.DataFrame([[title[0], title[1]]], columns=['Job Title', 'Skills']) for title in titles], ignore_index=True)
summary = pd.concat([summary, a])

In [19]:
summary.index = [0,1,2,3,4]

In [20]:
summary

                Job Title                                             Skills
0                   Gamer                             exercise, dexterity, R
1           Web Developer  googling, javascript, typescript, css, html, j...
2          Data Scientist  statistics, graphing, dataframes, attention to...
3  Database Administrator                   SQL, Python, Attention to Detail
4                    Chef                              Cooking, Wine Tasting

In [21]:
summary.to_csv("jobFeatures.csv")